<!-- Loop over each object in the projects array -->
 <section style="margin-top:12cm"class="About">
    <h3>Little about us</h3>
    <p>A Website Dedicated to finding a home for any animal in need. Find a new family member, or post an animal for adoption at no fee! We beleive that saving an animals life should cost nothing other than your time and effort. We are a non-profit organization and work strictly off of donations so please feel free to show some love and keep this website possible. You will find an option to donate either during the adoption process or by clicking <a style="text-decoration: underline">here</a>!</p>
</section>
{{#each adoptables as |adoptable| }}
<div style="margin-top:2cm"class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a style="font-family: Impact, fantasy;"href="adoptable/{{adoptable.id}}">{{adoptable.name}}</a>
    </h2>
    <p style="">
      Click on pet for adoption information and more!
    </p>
    <p style="">Posted for adoption on {{format_date adoptable.createdAt}}</p>
    {{!-- {{format_date adoptable.date_created}} --}}
  </div>
  <div class="col-md-7">
    <p style="">
      {{adoptable.description}}
    </p>
  </div>
</div>
{{/each}}