<!-- Loop over each object in the projects array -->
{{#each adoptables as |adoptable| }}
<div class="row mb-4 project" style="border: 2px solid red;">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/adoptable/{{adoptable.id}}">{{adoptable.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount adoptable.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{adoptable.user.name}} on {{format_date adoptable.createdAt}}</p>
    {{!-- {{format_date adoptable.date_created}} --}}
  </div>
  <div class="col-md-7">
    <p>
      {{adoptable.description}}
    </p>
  </div>
</div>
{{/each}}

